@import '../abstracts/variables.module';
@import '../abstracts/mixins';

.notFoundPageContainer {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: $primary;
  gap: 2rem;
}

.header {
  &__primary {
    font-size: 8rem;
    font-weight: 800;
    -webkit-transition: 0.2s color;
    -o-transition: 0.2s color;
    transition: 0.2s color;
    text-decoration: underline;
    letter-spacing: 1.5rem;

    &:hover {
      color: $text;
    }
  }

  &__secondary {
    font-size: 2.5rem;
  }

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.link {
  font-size: 2rem;
  border-radius: $borderRadius;
  background-color: $accent;
  padding: 1rem 2rem;
  color: $text;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;

  &:hover {
    background-color: $text;
    color: $background;
  }
}
