@import '../abstracts/mixins';

.projectsPageContainer {
  margin: 10rem auto;
  width: min(90%, 800px);
  display: flex;
  flex-direction: column;
  @media (min-width: 1024px) {
    justify-content: center;
    align-items: start;
    gap: 1rem;
  }
}

.project {
  @include projectCard;
}
