@import '../abstracts/mixins';

.projectsPageContainer {
  margin: 10rem auto;
  width: min(90%, 800px);
  display: flex;
  flex-direction: column;
  @media (min-width: 1024px) {
    justify-content: center;
    align-items: start;
    gap: 1rem;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.title {
  @include header;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.project {
  @include projectCard;
}
