@import '../abstracts/mixins';
@import '../abstracts/variables.module';

.hyperLinkContainer {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: $primary;
  &:hover {
    color: $text;
    * {
      fill: $text;
    }
  }
}
