@import '../abstracts/mixins';
@import '../abstracts/variables.module';

.hyperLinkContainer {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.2s;
  color: $primary;
  &:hover {
    color: $text;
    * {
      fill: $text;
    }
  }
}
