@import '../abstracts/mixins';

.project {
  &__name {
    @include highlight;
  }

  &__info {
    @include secondaryText;

    text-wrap: normal;
    margin: 1rem 0 1.5rem 0;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__tags {
    @include tagContainer;
  }

  @include projectCard;
}

.tagContainer {
  @include tagContainer;
}

.linksContainer {
  @include linksContainer;
}

.project {
  &__name {
    @include highlight;
  }

  &__info {
    @include secondaryText;
  }

  &__tags {
    @include tagContainer;
  }

  @include projectCard;
}

.tagContainer {
  @include tagContainer;
}

.linksContainer {
  @include linksContainer;
}
