.title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 0.5rem 0;
  font-family: 'Space Mono';
  color: var(--color-teal);
  position: relative;
  display: inline-block;
  margin: 2rem 0;
  overflow: hidden;
}

.title::before,
.title::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.title::before {
  background: var(--color-dark);
  animation: typewriter 4s steps(23) forwards;
}

.title::after {
  width: 0.125rem;
  background-color: var(--color-teal);
  animation: typewriter 4s steps(23) forwards, blick 1s steps(23) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blick {
  to {
    background: transparent;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 3.75rem;
    line-height: 1;
  }
}
